<div class="sidenav">
  <h1
    style="color: bla ck; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-left: 10px; margin-top: 5px;text-shadow: 2px 2px orange;">
    TRAVELIX</h1>
  <hr>
  <a style="margin-top: 51px;" href="#about">Home</a>
  <hr color="white">
  <a href="#services">Hotels</a>
  <hr color="white">
  <a href="#clients">Users</a>
  <hr color="white">

  <a style="color: crimson;" href='/admin/logout'>Logout</a>
  <hr color="white">

</div>



<div class="main">
  <div class="card" style="width: 18rem; float: left; ">
    <img src="" height="20px" width="20px" class="card-img-top"  >
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-left: 500px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; float: left; margin-top: 110px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-left: 500px; margin-top: 110px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

</div>



<style>
  
.main{
  margin-left: 340px;
margin-top: 100px;
}
  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7ca28;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {

    padding: 1px 12px 1px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }

  .sidenav a:hover {
    color: white;
  }

  .btn {
    background-color: #e9c835;
    width: 170px;
    height: 170px;
    margin: 50px 200px 5px 10px;
  }



  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
</style>