<div style="background-color: rgb(230, 230, 230);" class="jumbotron text-center">
  <h1 class="display-3">OOPS</h1>
  <p class="lead"><strong>There is not enough amount on your wallet!</strong> </p>
  <hr>
  <p>
    Having trouble? 
    <br>
    Call us : 1800 12 1999
  </p>
  
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">go back to homepage </a>
  </p>
</div>