<div style="background-color: rgb(230, 230, 230);" class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Your room has been booked!</strong> </p>
  <hr>
  <p>
    Having trouble? 
    <br>
    Call us : 1800 12 1999
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/booking" role="button">See my Bookings</a>
  </p>
</div>