<div style=" height: 800px; padding: 1px; background-color: rgb(235, 235, 235)">
  <div class="sidenav">
    <h1
      style="color: bla ck; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-left: 10px; margin-top: 5px;">
      TRAVELIX</h1>
 
    {{#if hotelName}}
    <span style="margin-left: 10px; font-weight: bolder;">Welcome {{hotelName.Name}}</span>
    {{/if}}
      <hr>
    <div class="option">
      <a style="margin-top: 51px;" href="/hotel">Home</a>
      <hr color="white">
      <a href="/hotel/rooms">Rooms</a>
      <hr color="white">
      <a href="/hotel/customer">Customer</a>
      <hr color="white">
      <a href="#clients">Features</a>
      <hr color="white">
 {{#if hotel}}
       <a href="/hotel/updateProfile/{{hotel._id}}">Update profile</a>
      <hr color="white">    {{/if}}
    </div> 
    <a style="color: rgb(0, 0, 0);" href='/hotel/logout'>Logout</a>
    <hr color="white">

  </div>



  <div class="main">
    <div class="card zoom" style="margin-left: 40px; width: 12rem; float: left; ">
      <img src="/images/todaybooking.jpg" height="140px" width="10px" class="card-img-top">
      <div class="card-body">
        <p class="card-text"><b>Today's booking</b></p>
      </div>
    </div>
    <div class="card zoom" style="width: 12rem; margin-left: 450px;">
      <img class="card-img-top" height="140px" width="10px" src="/images/totalbooking.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"><b>Total Booking</b></p>
      </div>
    </div>
    <div class="card zoom" style="margin-left: 40px;  width: 12rem; float: left; margin-top: 50px;">
      <img class="card-img-top" height="140px" width="10px" src="/images/totalcustomers.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"><b>Total customers</b></p>
      </div>
    </div>
    <div class="card zoom" style="width: 12rem;margin-left: 450px; margin-top: 50px;">
      <img class="card-img-top" height="140px" width="10px" src="/images/rooms.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"><b>Rooms available</b></p>
      </div>
    </div>
    <div class="card zoom" style="width: 12rem;margin-left: 40px; margin-top: 50px; float: left;">
      <img class="card-img-top" height="140px" width="10px" src="/images/income.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"><b>Today's income</b></p>
      </div></div>
      <div class="card zoom" style="width: 12rem;margin-left: 450px; margin-top: 50px;">
        <img class="card-img-top" height="140px" width="10px" src="/images/totalincome.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><b>Total income</b></p>
        </div></div>




      </div>
    </div>
    <style>
      .zoom {

        transition: transform .2s;
        /* Animation */

      }

      .zoom:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

      .option:hover li:hover a {
        opacity: 0.6;
      }

      .option:hover li:hover a:hover {
        opacity: 1;
      }


      .card :hover {
        background-color: #ff4e4e;

      }

      .main {

        margin-left: 340px;
        margin-top: 50px;

      }

      .sidenav {

        height: 100%;
        width: 260px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ff4e4e;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {

        padding: 1px 12px 1px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
      }

      .sidenav a:hover {
        color: white;

      }

      .btn {
        background-color: #e9c835;
        width: 170px;
        height: 170px;
        margin: 50px 200px 5px 10px;
      }



      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }

        .sidenav a {
          font-size: 18px;
        }
      }
    </style>